.menusContainer {
    .menusItem {
        width: 100%;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;

        .choosed {
            // background-color: #e5e5e5;
            background-color: #F1F2F1;
            .title {
                color: #54458a !important;
                font-weight: bold;
            }

            .iconUsercenter {
                // color: #18acda;
                // color: #54458a;
            }
        }

        .menusLink {
            -webkit-box-align: center;
            align-items: center;
            box-sizing: border-box;
            color: inherit;
            cursor: pointer;
            display: flex;
            flex-shrink: 0;
            font-size: 12px;
            height: 40px;
            text-align: left;
            width: 100%;
            padding-left: 24px;
            padding-right: 24px;
            // background-color: rgb(5, 54, 127);
            // fill: rgb(5, 54, 127);
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            // border-radius: 3px;
            outline: none;
            text-decoration: none;

            .title {
                // color: #000;
            }
            //
            //&:hover:not(.choosed) {
            //    // background-color: #7161ab73;
            //    background-color: #F1F2F1;
            //}

            .iconUsercenter {
                -webkit-box-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-shrink: 0;
                margin-right: 0;
                width: 24px;
                height: 24px;
                // color: rgb(255, 255, 255);
                font-size: 18px;
            }
        }
    }
}