.avatar{
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  .icon{
    img{
      box-shadow: 0 0 0 1px #1b1f2426;
      border: 1px solid #d0d7de;
      border-radius: 50%;
    }
  }
  .avatartitle{
    padding-bottom: 8px;
  }
  .btn{
    // position: absolute;
    // left:20px;
    // bottom: 0;
    margin: 10px 0;
  }
}

.hidden{
  display: none!important;
  visibility: hidden!important;
}
.myrow{
  flex-flow: column-reverse;
}
